{{#each favorite_songs as |favorite_song|}}

 <!-- Developers, why are we using data-id and not just id? -->
  <ul>
    <li>
      <h1 data-id="{{favorite_song.id}}">
        <small>
          Name: {{favorite_song.song.name}}
          Artist: {{favorite_song.song.artist}}
          <!-- {{favorite_song.songs}} -->
        </small>
      </h1>
    </li>
    <li>
      {{#if favorite_song.story}}
        Story Date: {{favorite_song.story_date}}
        Story: {{favorite_song.story}}
      {{else}}
        No story provided
      {{/if}}
    </li>
    <!-- <li>
      <button type="button" class="favorite-song-edit-button" data-id={{favorite_song.id}}>
        Edit
      </button>
    </li> -->
    <li>
      <button type="button" class="favorite-song-delete-button" data-id={{favorite_song.id}}>
        Remove
      </button>
    </li>
  </ul>
  <form id="favorite-song-modal-button" class="favorite-song-modal-button">
    <button type="button" class="btn btn-primary spacer20" data-toggle="modal" data-target="#edit-favorite-song-modal">
    Edit this story
  </button>
  </form>

  <!-- Edit Favorite Song Modal -->
      <div class="modal fade" data-id="{{favorite_song.id}}" id="edit-favorite-song-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="edit-favorite-song-inner" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="edit-favorite-song" class="form-group">
                <fieldset id="signUpForms">
                  <div>
                    <h2>{{favorite_song.song.name}}</h2>
                    <h3>{{favorite_song.song.artist}}</h3>
                  <div class="form-group col-sm-6">
                    <label for="exampleInputPassword">Story Date</label>
                    <input type="text" name="favorite_song[password]" class="form-control" aria-describedby="emailHelp" value="{{favorite_song.story_date}}">
                  </div>
                  <div class="form-group col-sm-12">
                    <label for="exampleInputEmail1">Story</label>
                    <input type="text" name="favorite_song[email]" class="form-control" aria-describedby="emailHelp" value="{{favorite_song.story}}">
                    <small class="form-text text-muted">We'll also send you newsletters and a bunch of tic-tac-toe related spam roflmao fml</small>
                  </div>
                </div>
                </fieldset>
                <div class="col-sm-12" id="edit-favorite-song-modal-message"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="submit-favorite-song-edits" type="submit" class="btn btn-primary">Edit</button>
            </form>
            </div>
          </div>
        </div>
      </div>
{{/each}}
