{{#each phases as |phase|}}

 <!-- Developers, why are we using data-id and not just id? -->
  <ul>
    <li>
      <h1 data-id="{{phase.id}}">
        <small>
          Name: {{phase.name}}
          <!-- ID: {{phase.id}} -->
          <!-- userid: {{phase.user.id}} -->
        </small>
      </h1>
    </li>
    <li>
        Dates: {{phase.start_date}} - {{phase.end_date}}

    </li>
    <li>
      <button type="button" class="get-phase-button" data-id={{phase.id}}>
        View Phase
      </button>
    </li>
    <li>
      <button type="button" class="phase-delete-button" data-id={{phase.id}}>
        Remove
      </button>
    </li>
  </ul>

{{/each}}
