{{#each favorite_songs as |favorite_song|}}

 <!-- Developers, why are we using data-id and not just id? -->
<div class="col-sm-4" style="min-height: 240px; padding: 30px;">

      <h2 class="song-listing" data-id="{{favorite_song.id}}">
          "{{favorite_song.song.name}}"
      </h2>
      <h3 class ="song-artist-listing">
          {{favorite_song.song.artist}}
          <!-- {{favorite_song.songs}} -->
      </h3>
        <h4 class="song-artist-story-date">The year was {{favorite_song.story_date}}...</h4>
        <hr>
        <p>{{favorite_song.story}}</p>


  <!-- Edit Favorite Song Modal BUTTON -->
  <a href="#" data-target="#edit-favorite-song-{{favorite_song.id}}-modal" class="listing-edit" data-toggle="modal">
    Edit this story
  </a>
  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit-favorite-song-{{favorite_song.id}}-modal">
    Edit this story
  </button> -->

  <!-- DELETE Favorite Song Modal BUTTON -->
  |
  <a href="#" class="listing-edit favorite-song-delete-button" data-id={{favorite_song.id}}>
    Remove
  </a>

  <!-- <button type="button" class="btn btn-primary favorite-song-delete-button" data-id={{favorite_song.id}}>
    Remove
  </button> -->
</div>

  <!-- Edit Favorite Song Modal -->
      <div class="modal fade edit-favorite-song-modal" id="edit-favorite-song-{{favorite_song.id}}-modal" data-id="{{favorite_song.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" id="edit-favorite-song-inner" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Edit Favorite Song Entry</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="form-group edit-favorite-song" data-id="{{favorite_song.id}}">
                <fieldset id="edit-favorite-song-{{favorite_song.id}}-form">
                  <div>
                    <h2>"{{favorite_song.song.name}}"</h2>
                    <h3>{{favorite_song.song.artist}}</h3>
                  <div class="form-group col-sm-6">
                    <label for="exampleInputPassword">Story Date</label>
                    <input type="text" name="favorite_song[story_date]" class="form-control" aria-describedby="emailHelp" value="{{favorite_song.story_date}}">
                  </div>
                  <div class="form-group col-sm-12">
                    <label for="exampleInputEmail1">Story</label>
                    <input type="text" name="favorite_song[story]" class="form-control" aria-describedby="emailHelp" value="{{favorite_song.story}}">
                    <small class="form-text text-muted">Tell us your deepest darkest secrets. And your thoughts on this songs too.</small>
                  </div>
                </div>
                </fieldset>
                <div id="edit-favorite-song-modal-message" class="col-sm-12 edit-favorite-song-modal-message"></div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary submit-favorite-song-edits">Edit</button>
            </form>
            </div>
          </div>
        </div>
      </div>
{{/each}}
